html,
    body,
    div,p {
        margin: 0;
        padding: 0;
    }
body{
    opacity: 0;
}
    .load {
        width: 200px;
        height: 20px;
        position: absolute;
        left: 50%;
        top: 100%;
        transform: translate3d(-50%, -50%, 0);
    }
  
    #mycanvas,
    .loadDiv {
        background: #fff;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);
        display: none;
    }

    .loadDiv {
        width: 666px;
        height: 364px;
        background: url('../images/welcome.png') no-repeat center/100% 100%;
        display: block;
    }

    .tip {
        display: none;
    }