body{
    font-family: 'NotoSans-Regular NotoSans-Bold';
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
    padding:0px;
}

img{
    border: none;
}