<!DOCTYPE html>
<html lang="en">
<head>
    
</head>
<body>
    <div class="main">
        <div class="butList">
        </div>
        <div class='tip'>
            1左右键是跑动，s键是小蹦，w是大蹦，p键是暂停,d键是发射子弹。
        </div>
        <canvas id="mycanvas" width="666" height="364"></canvas>
        <div class="loadDiv">
            <div id="load" class="load">
            </div>
        </div>
    </div>
</body>
</html>