* {
    margin: 0;
    padding: 0;
}

body {
    opacity: 0;
    background: #1f1e4d;
}

.title-box {
    width: 100%;
    position: relative;
}
.userinfo{
    color:#9999ff;
    font-size: 0.2rem;
    position: absolute;
    bottom:0.8rem;
    right: 0.32rem;
    vertical-align: middle;
}
.userinfo span{
    line-height: 0.34rem;
      vertical-align: middle;
}
.recordTitleImg {
    display: block;
    width: 100%;
}
.recordBtn{
    width: 1.37rem;
    height: 0.34rem;
    background: url(..//images/recordbtn.png) no-repeat center;
    background-size:100% 100%; 
    display: inline-block;
    margin-left: 0.2rem;
    vertical-align: middle;
}

.box{
    width: 5.66rem;  
    margin:0 auto;  
    margin-top: -1rem;
    padding-top: 0.4rem;
    font-size: 0rem;
    text-align: center;
}
.item{
   display: inline-block;  
   margin-bottom: 0.4rem;  
  /* margin-right: 0.34rem;*/
}
.item:nth-of-type(3n+0){
    margin-right: 0rem;
}
.item:nth-of-type(3n+2){
     margin-right: 0.2rem;
}
.item:nth-of-type(3n+1){
     width: 2.1rem;
}
.gitfInfo{
    box-sizing: border-box;
    width: 1.64rem;
    height: 1.54rem;
    background: url(..//images/gitbox.png) no-repeat center;
    background-size:100% 100%; 
    overflow: hidden;
    position: relative;
    margin:0 auto;
}
.giftImg{
    margin-top: 0.2rem;
    margin-left: 0.24rem;
    width: 1.1rem;
    height: 1.1rem;
    background: no-repeat center;
    background-size:100% 100%; 
  }
  .firstIcon{
    width: 0.6rem;
    height: 0.6rem;
    position: absolute;
    left: 0;
    top:0;
    background: url(..//images/firsticon.png
) no-repeat center;
    background-size:100% 100%; 
  }
.labelBox{
    min-width: 0.6rem;
    height: 0rem;   
    text-align: right;
    box-sizing: border-box;
    border-top: 0.15rem solid #73e3fb;
    border-bottom: 0.15rem solid #73e3fb;
    border-left: 0.1rem solid transparent;
    font-size: 0.22rem;
    color:#2251c5;    
    position: absolute;
    right: 0rem;
    bottom:0.04rem;
    padding-left: 0.15rem;
}

.labelBox .gitcount{
 position: relative;
 font-weight: 700;
top: -0.11rem;
right: 0.1rem; 
 line-height: 0.22rem; 
}
.voucherInfo{
    font-size: 0.26rem;
    color:#fff;
    margin-top: 0.2rem;
    line-height: 1em;
    text-align: center;
}
.voucherInfo span{
    color:#6b6bb2;
    padding-right: 0.1rem;
    font-size: 0.26rem;
    text-decoration: line-through;
}
.exchangeBtn{
background: #ffe907;
color:#804933;
font-size: 0.26rem;
text-align: center;
font-weight: 700;
width: 1.56rem;
height: 0.5rem;
line-height: 0.5rem;
margin:0 auto;
border-radius: 0.04rem;
margin-top: 0.14rem;
}
.explain{
    width: 5.8rem;
    height: 3.15rem;
    box-sizing: border-box;
    background: #272265;
    border-radius: 0.04rem;
    margin:0 auto;
    padding: 0.28rem;
    padding-top: 0.05rem;
    box-shadow: 0  0.03rem #00004c;
}
.explain .title{
    color: #fff;
    line-height: 2.5em;
    font-size: 0.28rem;
    text-align: center;
    background: url(..//images/border.png) repeat-x bottom;

}
.clause{
    margin-top: 0.05rem; 
    
}
.clause ol{
    list-style-type:decimal;    
      padding-left: 0.3rem;
    } 
.explain li{
    line-height: 2em;
    font-size: 0.22rem;
    color:#8f91b2;
}

.footerlog{
    width: 1.54rem;
    height: 0.52rem;
    display: block;
    margin:0 auto;
    margin-top: 0.24rem;
    margin-bottom: 0.34rem;
}
.popup{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top:0;
    background: rgba(0,0,0,0.5);
}
.successPopup{
    display: none;
    position: absolute;
    left: 50%;
    top:50%;
    width: 3.8rem;
    height: 4rem;
    margin-left: -1.9rem;
    margin-top: -2rem;
    opacity: 0;
    transition: opacity 0.5s;
    -moz-transition: opacity 0.5s; /* Firefox 4 */
    -webkit-transition: opacity 0.5s; /* Safari 和 Chrome */
    -o-transition: opacity 0.5s; /* Opera */
    background:  url(..//images/successpop.png) no-repeat center/cover;
}
.successPopup .gitfInfo{
    margin-top: 0.9rem;
    margin-left: 1rem;

}
.exchagePopup{
    width: 5.12rem;
    display: none;
   /* height: 2.9rem;*/
    position: absolute;
    left: 50%;
    top:50%;
    margin-left: -2.56rem;
    margin-top: -1.45rem;
    border-radius: 0.04rem;
    background: #fff;
}
.exchagePopup .tip{
    font-size: 0.26rem;
    color:#666;
    line-height: 1rem;
    text-align: center;
    margin-top: 0.3rem;
     margin-bottom: 0.3rem;
}
.btnBox{
    height: 0.75rem;
    border-top:0.02rem solid #f0f1f5;
    font-size: 0rem;
}
.btnBox>div{
    display: inline-block;
    font-size: 0.26rem;
    width: 50%;
    text-align: center;
    line-height: 0.76rem;
    box-sizing: border-box;
}
.cancelBtn{
 border-right: 0.02rem solid #f0f1f5;
color: #333333;
}
.okBtn{
   color: #0091ff; 
}
.closeBtn{
    width: 0.56rem;
    height: 0.56rem;   
    position: absolute;
    bottom: 0rem;
    left: 50%;
    margin-left: -0.4rem;
}
.toast{
    position: fixed;
    width: 3.5rem;
    background: rgba(0,0,0,.8);
    padding:0.2rem;
    border-radius: 6px;
    z-index: 10001;
    top:50%;
    left: 50%;
    -webkit-transform:translate3d(-50%,-50%,0);
    -moz-transform:translate3d(-50%,-50%,0);
    -ms-transform:translate3d(-50%,-50%,0);
    -o-transform:translate3d(-50%,-50%,0);
    text-align: center;
    font-size: 0.24rem;
    color: #fff;
}